
@{
    Layout = "~/Views/Shared/_Layout_BBS.cshtml";
    ViewBag.IsBBSMain = true;
}
@using SyntacticSugar
@model Infrastructure.ViewModels.BBS.MainResult
<div class="fly-tab">
    <span>
        <a href="~/Ask/@Model.Fid?orderBy=1">最新发布</a>
        <a href="~/Ask/@Model.Fid?orderBy=2">最新回复</a>
        <a href="~/Ask/@Model.Fid?orderBy=3">精华</a>
        <a href="~/Ask/@Model.Fid?orderBy=4">活动</a>
    </span>
    <form action="http://cn.bing.com/search" class="fly-search">
        <i class="iconfont icon-sousuo"></i>
        <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
    </form>
    <a href="/BBS/Main/Ask" class="layui-btn jie-add">发布问题</a>
</div>
<ul class="fly-list">
    @if (Model.TopicsList.IsValuable())
    {
        foreach (var item in Model.TopicsList)
        {
            if (item.PosterAvatar.IsNullOrEmpty()) {
                item.PosterAvatar = Url.Content("~/_theme/default.jpg");
            }
            <li class="fly-list-li">
                <a href="/u/168" class="fly-list-avatar">
                    <img src="@item.PosterAvatar" alt="@item.Poster">
                </a>
                <h2 class="fly-tip">
                    <a href="/jie/5366.html">@item.Title</a>
                    @*<span class="fly-tip-stick">置顶</span>
                        <span class="fly-tip-jing">精帖</span>*@
                </h2>
                <p>
                    <span><a href="/u/168">@item.Poster</a></span>
                    <span>3天前</span>
                    <span>@Model.ForumsList.Single(it => it.Fid == item.Fid).Name</span>
                    <span class="fly-list-hint">
                        <i class="iconfont" title="回答">&#xe60c;</i> 0
                        <i class="iconfont" title="人气">&#xe60b;</i> 0
                    </span>
                </p>
            </li>
        }
    }
</ul>
