@{
    UserInfo user = ViewBag.User;
    if (user!=null&&user.Avatar.IsNullOrEmpty()) {
        user.Avatar = Url.Content("~/_theme/default.jpg");
    }
    var qqUrl = UI.GetQQUrl();
    var wbUrl = UI.GetWbUrl();
}
@using Infrastructure.DbModel
@using OAuth.Tools
@using SyntacticSugar
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta property="qc:admins" content="01676642316411516375" />
        <meta name="keywords" content=".NET开源,.NET ORM,文档园">
        <meta name="description" content=".NET开源API之家，如果你有开源项目就加入我们，我们可以提供很好的文档服务">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>.NET开源,.NET ORM,文档园</title>
        <link rel="stylesheet" href="//at.alicdn.com/t/font_001z27klwvobt9.css">
        <link href="~/_theme/layui-v1.0.3/layui/css/layui.css" rel="stylesheet" />
        <link href="~/_theme/layui-v1.0.3/layui/css/global.css" rel="stylesheet" />
        @RenderSection("css", false)
    </head>
    <body>
        <input id="HidUrlAction" name="HidUrlAction" value="@Url.Action("/")" type="hidden" />
        <div class="header">
            <div class="main">
                <a class="logo" href="/" title="Fly">.NET 文档园</a>
                <div class="nav">
                    <a href="/">
                        <i class="iconfont icon-wenda"></i>问答
                    </a>
                    <a href="/">
                        <i class="iconfont icon-iconmingxinganli" style="top: 2px;">
                        </i>案例
                    </a>
                    <a href="/">
                        <i class="iconfont icon-ui"></i>框架
                    </a>
                </div>
                @if (ViewBag.IsLogin)
            {
                    <div class="nav-user">
                        <a class="avatar" href="/user/">
                            <img src="@user.Avatar" />
                            <cite>@user.NickName</cite>
                        </a>
                        <div class="nav">
                            <a href="/user/set/"><i class="iconfont icon-shezhi"></i>设置</a>
                            <a href="@Url.Content("/Home/Logout")"><i class="iconfont icon-tuichu" style="top: 0; font-size: 22px;"></i>退了</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="nav-user">
                        <a class="unlogin" href="">
                            <i class="iconfont icon-touxiang"></i>
                        </a>
                        <span>
                            <a href="@Url.Content("/Home/Login")">登入</a>
                            <a href="@Url.Content("/Home/Register")">注册</a>
                        </span>
                        <p class="out-login">
                            <a href="@qqUrl" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                            <a href="@wbUrl" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
                        </p>
                    </div>
                }
            </div>
        </div>
        <div class="main layui-clear">
            <div class="wrap">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
            <div class="edge">
                <h3 class="page-title">月度雷锋 - TOP 12</h3>
                <div class="user-looklog leifeng-rank">
                    <span>
                        <a href="/u/26880">
                            <img src="/avatar/26880.gif">
                            <cite>小魔方</cite>
                            <i>275次回答</i>
                        </a>
                        <a href="/u/336">
                            <img src="http://res.layui.com/images/fly/avatar/00.jpg">
                            <cite>纸飞机</cite>
                            <i>217次回答</i>
                        </a>
                        <a href="/u/784224">
                            <img src="http://res.layui.com/images/fly/avatar/0.jpg">
                            <cite>Layui_初学者</cite>
                            <i>153次回答</i>
                        </a>
                        <a href="/u/1987440">
                            <img src="http://q.qlogo.cn/qqapp/101235792/13751607FA0B67886128D0EBE5C9B020/100">
                            <cite>花易折</cite>
                            <i>143次回答</i>
                        </a>
                        <a href="/u/11424">
                            <img src="/avatar/11424.gif">
                            <cite>SMALL</cite>
                            <i>114次回答</i>
                        </a>               <a href="/u/2215584">          <img src="http://q.qlogo.cn/qqapp/101235792/067122DD88A0625134D8929769A7D330/100">          <cite>i993</cite>          <i>81次回答</i>        </a>               <a href="/u/168">          <img src="/avatar/168.jpg">          <cite>贤心</cite>          <i>72次回答</i>        </a>               <a href="/u/998424">          <img src="http://q.qlogo.cn/qqapp/101235792/72DE888B67DE14A79456FB4F0B8010B9/100">          <cite>Army</cite>          <i>43次回答</i>        </a>               <a href="/u/2196264">          <img src="http://q.qlogo.cn/qqapp/101235792/AF7C19189FFC4F2811538106AD6CB021/100">          <cite>梅三峰</cite>          <i>40次回答</i>        </a>               <a href="/u/1022616">          <img src="http://q.qlogo.cn/qqapp/101235792/CBEA679C3168A4F1A8E701CEB3853F29/100">          <cite>夏朵儿</cite>          <i>27次回答</i>        </a>               <a href="/u/30072">          <img src="http://res.layui.com/images/fly/avatar/3.jpg">          <cite>Linyer</cite>          <i>27次回答</i>        </a>               <a href="/u/804888">          <img src="/avatar/804888.jpg">          <cite>拿客</cite>          <i>27次回答</i>        </a>
                    </span>
                </div>        <h3 class="page-title">最近热帖</h3>    <ol class="fly-list-one">          <li>        <a href="/jie/5300.html">LayIM 3.0 专业版 预计1周后发布，饱含深情的重大更新</a>        <span><i class="iconfont">&#xe60b;</i> 1980</span>      </li>          <li>        <a href="/jie/5366.html">layui 常见问题的处理和实用干货集锦</a>        <span><i class="iconfont">&#xe60b;</i> 1019</span>      </li>          <li>        <a href="/jie/5362.html">问闲心一句，你那链接1000位铁杆用户得小蜜圈不整了？</a>        <span><i class="iconfont">&#xe60b;</i> 597</span>      </li>          <li>        <a href="/jie/5374.html">Think Admin 1.0后台管理系统</a>        <span><i class="iconfont">&#xe60b;</i> 463</span>      </li>          <li>        <a href="/jie/5285.html">哪位大神能帮我写一下弹窗只弹出一次的代码！</a>        <span><i class="iconfont">&#xe60b;</i> 380</span>      </li>          <li>        <a href="/jie/5377.html">Zpy`s Cms 发布</a>        <span><i class="iconfont">&#xe60b;</i> 308</span>      </li>          <li>        <a href="/jie/5379.html">基于LayUI封装的Navbar组件，动态渲染左侧nav导航栏</a>        <span><i class="iconfont">&#xe60b;</i> 293</span>      </li>          <li>        <a href="/jie/5378.html">使用layui写的一个后台模板demo</a>        <span><i class="iconfont">&#xe60b;</i> 285</span>      </li>          <li>        <a href="/jie/5418.html">后台管理模板</a>        <span><i class="iconfont">&#xe60b;</i> 205</span>      </li>          <li>        <a href="/jie/5412.html">新版-插件-省市区联动</a>        <span><i class="iconfont">&#xe60b;</i> 199</span>      </li>          <li>        <a href="/jie/5352.html"> layui2.0有没有一个准确点的时间</a>        <span><i class="iconfont">&#xe60b;</i> 194</span>      </li>          <li>        <a href="/jie/5409.html">TP5案例基于Fly社区模板，前端已完结！！后端完善中...可惜不能参赛！</a>        <span><i class="iconfont">&#xe60b;</i> 180</span>      </li>          <li>        <a href="/jie/5273.html">置顶贴的那个活动堪比是在送书，怎么就没人参与呢？</a>        <span><i class="iconfont">&#xe60b;</i> 178</span>      </li>          <li>        <a href="/jie/5284.html">谈谈layui的实用性</a>        <span><i class="iconfont">&#xe60b;</i> 158</span>      </li>          <li>        <a href="/jie/5336.html">layer.confirm如何实现阻塞/阻断</a>        <span><i class="iconfont">&#xe60b;</i> 146</span>      </li>        </ol>        <h3 class="page-title">近期热议</h3>    <ol class="fly-list-one">          <li>        <a href="/jie/5300.html">LayIM 3.0 专业版 预计1周后发布，饱含深情的重大更新</a>        <span><i class="iconfont">&#xe60c;</i> 41</span>      </li>          <li>        <a href="/jie/5362.html">问闲心一句，你那链接1000位铁杆用户得小蜜圈不整了？</a>        <span><i class="iconfont">&#xe60c;</i> 34</span>      </li>          <li>        <a href="/jie/5374.html">Think Admin 1.0后台管理系统</a>        <span><i class="iconfont">&#xe60c;</i> 24</span>      </li>          <li>        <a href="/jie/5417.html">打开一个新层，自动关闭上一个已打开的层。怎么监听这个呢？</a>        <span><i class="iconfont">&#xe60c;</i> 23</span>      </li>          <li>        <a href="/jie/5330.html">新点击的页面不会添加到iframe里</a>        <span><i class="iconfont">&#xe60c;</i> 20</span>      </li>          <li>        <a href="/jie/5372.html">求助，希望相册层也能点击一个按钮触发，而不是点击相册里的图片。</a>        <span><i class="iconfont">&#xe60c;</i> 18</span>      </li>          <li>        <a href="/jie/5285.html">哪位大神能帮我写一下弹窗只弹出一次的代码！</a>        <span><i class="iconfont">&#xe60c;</i> 16</span>      </li>          <li>        <a href="/jie/5377.html">Zpy`s Cms 发布</a>        <span><i class="iconfont">&#xe60c;</i> 15</span>      </li>          <li>        <a href="/jie/5306.html">初学者请教LAYER</a>        <span><i class="iconfont">&#xe60c;</i> 15</span>      </li>          <li>        <a href="/jie/5278.html">layer弹出层content里事件的绑定问题</a>        <span><i class="iconfont">&#xe60c;</i> 13</span>      </li>          <li>        <a href="/jie/5349.html">vue和layui会有冲突吗</a>        <span><i class="iconfont">&#xe60c;</i> 13</span>      </li>          <li>        <a href="/jie/5379.html">基于LayUI封装的Navbar组件，动态渲染左侧nav导航栏</a>        <span><i class="iconfont">&#xe60c;</i> 12</span>      </li>          <li>        <a href="/jie/5366.html">layui 常见问题的处理和实用干货集锦</a>        <span><i class="iconfont">&#xe60c;</i> 12</span>      </li>          <li>        <a href="/jie/5367.html">layer ui的基础使用。</a>        <span><i class="iconfont">&#xe60c;</i> 10</span>      </li>          <li>        <a href="/jie/5273.html">置顶贴的那个活动堪比是在送书，怎么就没人参与呢？</a>        <span><i class="iconfont">&#xe60c;</i> 10</span>      </li>        </ol>        <div class="fly-link">      <span>友情链接：</span>      <a href="http://layim.layui.com/" target="_blank">LayIM</a>      <a href="http://layer.layui.com/" target="_blank">layer</a>      <a href="http://www.ttlutuan.com" target="_blank">天天撸团</a>      <a href="http://www.hotcn.top/" target="_blank">国际热点</a>      <a href="http://www.bejson.com/" target="_blank">JSON在线工具</a>      <a href="http://www.smeoa.com/" target="_blank">小微OA</a>      <a href="http://www.pmsun.me/" target="_blank">PHP博客</a>    </div>
            </div>
        </div>
        <div class="footer">
            <p>
                <a href="@Url.Content("/ask")">Fly社区</a>
                2016 &copy; <a href="@Url.Content("/")">CodeIsBug.com</a> <a href="https://github.com/layui/fly" target="_blank">获取Fly社区模版</a>
            </p>  <p>
                <a href="http://fly.layui.com/auth/get" target="_blank">产品授权</a>
                <a href="http://fly.layui.com/jie/3147.html" target="_blank">VIP说明</a>
                <a href="http://sentsin.com/cooperation.html" target="_blank">商务合作</a>
                <a href="http://weibo.com/SentsinXu" target="_blank" rel="nofollow">微博</a>
                <a href="http://fly.layui.com/jie/2461.html" target="_blank">微信公众号</a>
            </p>
        </div>
        <script src="~/_theme/layui-v1.0.3/layui/layui.js"></script>
        <script>
            layui.config({
                base: '/_theme/layui-v1.0.3/layui/lay/modules/'
              , version: '1'
            });
            window.global = {
                preview: function () {
                    var preview = document.getElementById('LAY_preview');
                    return preview ? preview.innerHTML : '';
                }()
            };
        </script>
        @RenderSection("js", false)
    </body>
</html>