@using SyntacticSugar
@using Infrastructure
@using Infrastructure.Pub
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @RenderSection("meta",false)
    <link rel="icon" href="~/_theme/ico.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    <link href="~/_theme/layui-v1.0.3/layui/css/layui.css?v=42" rel="stylesheet" />
    @RenderSection("css", false)
    @{
        var className = Convert.ToBoolean(ViewBag.IsMainPage) ? "maincss" : "innercss";
        var bodyClassValue = Convert.ToBoolean(ViewBag.IsMainPage) ? "#eee" : "#fff";
    }
</head>
<body>
    <div>
        <body class="site-home @className" id="LAY_home" style="background-color: @bodyClassValue">
            <input id="HidUrlAction" name="HidUrlAction" value="@Url.Action("/")" type="hidden" />
            <div class="layui-header header header-index">
                <div class="layui-main">
                    <a class="logo" href="/">
                        孙凯旋个人主页
                    </a>
                    <a class="logo logoM" style="display:none" href="/">
                         主页
                    </a>
                    <ul class="layui-nav">
                        <li class="layui-nav-item @((ViewBag.PageNum==2)?"page-current":"")">
                            <a href="/Home/Doc">SqlSugarORM文档</a>
                        </li>
                        <li class="layui-nav-item @((ViewBag.PageNum==3)?"page-current":"")">
                            <a href="/BBS">文档园</a>
                        </li>
                        <li class="layui-nav-item @((ViewBag.PageNum==4)?"page-current":"")">
                            <a href="/Home/Reward">打赏</a>
                        </li>
                        <span class="layui-nav-bar" style="left: 54px; top: 61px; width: 0px; opacity: 0;"></span>
                    </ul>
                </div>
            </div>
            <div class="site-banner">
                <div class="site-banner-bg">
                </div>
                <div class="site-banner-main">
                    @RenderBody()
                </div>
            </div>
            <div class="layui-main"></div>
            <div class="layui-footer footer footer-index">
                <div class="layui-main">
                    <p>2016 © <a href="/">CodeIsBug.com</a>Apache Licence 2.0</p>
                    <p>
                        <a href="/" target="_blank">所有作品:</a>
                        <a href="https://github.com/sunkaixuan/SqlSugar" target="_blank">SqlSugar</a>
                        <a href="https://github.com/sunkaixuan/SqliteSugar" target="_blank">SqliteSugar</a>
                        <a href="https://github.com/sunkaixuan/OracleSugar" target="_blank">OracleSugar</a>
                        <a href="https://github.com/sunkaixuan/MySqlSugar" target="_blank">MySqlSugar</a>
                    </p>
                </div>
            </div>
            <div class="site-tree-mobile layui-hide">
                <i class="layui-icon"></i>
            </div>
            <div class="site-mobile-shade"></div>
            <ul class="layui-fixbar">
                <li class="layui-icon layui-fixbar-top" lay-type="top" style=""></li>
            </ul>
        </body>
    </div>
    <script src="~/_theme/layui-v1.0.3/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/_theme/layui-v1.0.3/layui/lay/modules/'
          , version: '31111'
        }).use('global');

        window.global = {
            preview: function () {
                var preview = document.getElementById('LAY_preview');
                return preview ? preview.innerHTML : '';
            }()
        };
    </script>
    @RenderSection("js", false)
</body>
</html>
