@using SyntacticSugar
@using Infrastructure
@using Infrastructure.Pub
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="~/_theme/ico.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    <link href="~/_theme/layui-v1.0.3/layui/css/layui.css?v=2111112111" rel="stylesheet" />
    @RenderSection("css", false)
    @{
        var className = Convert.ToBoolean(ViewBag.IsMainPage) ? "maincss" : "innercss";
        var bodyClassValue = Convert.ToBoolean(ViewBag.IsMainPage) ? "#eee" : "#fff";
    }
</head>
<body>
    <input id="HidUrlAction" name="HidUrlAction" value="@Url.Content("~/")" type="hidden" />
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">

            <ul class="layui-nav layui-nav-tree site-demo-nav">

                <li class="layui-nav-item" style="height: 5px; text-align: center">
                    <a title="后台管理">
                        <i class="layui-icon" style=" font-size 16px;"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-this">
                    <a href="/demo/">文档管理</a>
                </li>

                <li class="layui-nav-item layui-nav-title">
                    <a>用户管理</a>
                </li>
                <li class="layui-nav-item" style="height: 30px; text-align: center"></li>
                <span class="layui-nav-bar" style="top: 434.5px; height: 0px; opacity: 0;"></span>
            </ul>

        </div>
    </div>
    <div class="layui-body site-demo">
        @RenderBody()
    </div>
    <script src="~/_theme/layui-v1.0.3/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/_theme/layui-v1.0.3/layui/lay/modules/'
          , version: '11231'
        }).use('global2');

        window.global = {
            preview: function () {
                var preview = document.getElementById('LAY_preview');
                return preview ? preview.innerHTML : '';
            }()
        };
    </script>
    @RenderSection("js", false)
</body>
</html>
