@using SyntacticSugar
@using Infrastructure
@using Infrastructure.Pub
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @RenderSection("meta",false)
    <link rel="icon" href="~/_theme/ico.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    <link href="~/_theme/layui-v1.0.3/layui/css/layui.css?v=@MvcApplication.Version" rel="stylesheet" />
    @RenderSection("css", false)
    @{
        var className = Convert.ToBoolean(ViewBag.IsMainPage) ? "maincss" : "innercss";
        var bodyClassValue = Convert.ToBoolean(ViewBag.IsMainPage) ? "#eee" : "#fff";
    }
</head>
<body>
    <div>
        <body class="site-home @className" id="LAY_home" style="background-color: @bodyClassValue">
            <input id="HidUrlAction" name="HidUrlAction" value="@Url.Action("/")" type="hidden" />
            <div class="layui-header header header-index2">
                <div class="layui-main">
                    <a class="logo" href="/">
                        开源大数据果糖网
                    </a>
                    <a class="logo logoM" style="display:none" href="/">
                         主页
                    </a>
                    <ul class="layui-nav">
                        @if (ViewBag.IsNew == null)
                        {
                            <li class="layui-nav-item @((ViewBag.PageNum == 2) ? "page-current" : "")">
                                <a href="/Home/Doc">@(ViewBag.DocTitle != null ? ViewBag.DocTitle : "SqlSugar文档")</a>
                            </li>
                        }
                        else
                        {
                            <li class="layui-nav-item @((ViewBag.PageNum == 2) ? "page-current" : "")">
                                <a href="@ViewBag.NewLink">@ViewBag.NewTitle</a>
                            </li>
                        }
                        <li class="layui-nav-item @((ViewBag.PageNum==3)?"page-current":"")">
                            <a href="/Ask">文档园</a>
                        </li>
                        <li class="layui-nav-item @((ViewBag.PageNum==4)?"page-current":"")">
                            <a href="/Home/Reward">免费服务</a>
                        </li>
                        <li class="layui-nav-item @((ViewBag.PageNum==5)?"page-current":"")">
                            <a href="/Home/Charge">有偿服务</a>
                        </li>
                        <span class="layui-nav-bar" style="left: 54px; top: 61px; width: 0px; opacity: 0;"></span>
                    </ul>
                </div>
            </div>
            <div class="site-banner" style="background:none !important">
                <div class="site-banner-bg" style="background:none !important">
                </div>
                <div class="site-banner-main">
                    @RenderBody()
                </div>
            </div>
            <div class="layui-main"></div>
            <div class="layui-footer footer footer-index bn">
                <div class="layui-main">
                    <p>2016 © <a href="/">donet5.com</a>Apache Licence 2.0</p>
                    <p>
                        <a href="http://beian.miit.gov.cn" target="_blank">苏ICP备2020070057号</a>
                    </p>
                </div>
            </div>
            <div class="site-tree-mobile layui-hide">
                <i class="layui-icon"></i>
            </div>
            <div class="site-mobile-shade"></div>
            <ul class="layui-fixbar">
                <li class="layui-icon layui-fixbar-top" lay-type="top" style=""></li>
            </ul>
        </body>
    </div>
    <script src="~/_theme/layui-v1.0.3/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/_theme/layui-v1.0.3/layui/lay/modules/'
          , version: '31111'
        }).use('global');

        window.global = {
            preview: function () {
                var preview = document.getElementById('LAY_preview');
                return preview ? preview.innerHTML : '';
            }()
        };
    </script>
    @RenderSection("js", false)
    @RenderSection("appendJs",false)
</body>
</html>
