@{
    UserInfo user = ViewBag.User;
    if (user != null && user.Avatar.IsNullOrEmpty())
    {
        user.Avatar = Url.Content("~/_theme/default.jpg");
    }
    var qqUrl = UI.GetQQUrl();
    var wbUrl = UI.GetWbUrl();
}
@using Infrastructure.DbModel
@using OAuth.Tools
@using SyntacticSugar
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta property="qc:admins" content="01676642316411516375" />
    <meta name="keywords" content=".NET开源,.NET ORM,文档园">
    <meta name="description" content=".NET开源API之家，如果你有开源项目就加入我们，我们可以提供很好的文档服务">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_001z27klwvobt9.css">
    <link href="~/_theme/layui-v1.0.3/layui/css/layui.css" rel="stylesheet" />
    <link href="~/_theme/layui-v1.0.3/layui/css/global.css?v=1" rel="stylesheet" />
    @RenderSection("css", false)
    <style>
        body .leifeng-rank span.forums a img {
            width: 65px;
            height: initial;
        }

        body .leifeng-rank span.forums i {
            bottom: 8px;
        }
    </style>
    <style>
        a.logo {
            top: 13px !important;
        }
        .forums img{
        
        }
        .forums .today {
          color:#999
        }
        .forums .today-num {
           color:#f60
        }
    </style>
</head>
<body>
    <input id="HidUrlAction" name="HidUrlAction" value="@Url.Action("/")" type="hidden" />
    <div class="header">
        <div class="main">
            <a class="logo" href="~/Ask" title="Fly">.NET 文档园</a>
            <div class="nav">
                <a href="/">
                    <i class="iconfont icon-wenda"></i>问答
                </a>
                <a href="/">
                    <i class="iconfont icon-iconmingxinganli" style="top: 2px;">
                    </i>案例
                </a>
                <a href="/">
                    <i class="iconfont icon-ui"></i>框架
                </a>
            </div>
            @if (ViewBag.IsLogin)
            {
                <div class="nav-user">
                    <a class="avatar" href="/user/">
                        <img src="@user.Avatar" />
                        <cite>@user.NickName</cite>
                    </a>
                    <div class="nav">
                        <a href="/user/set/"><i class="iconfont icon-shezhi"></i>设置</a>
                        <a href="@Url.Content("/Home/Logout")"><i class="iconfont icon-tuichu" style="top: 0; font-size: 22px;"></i>退了</a>
                    </div>
                </div>
            }
            else
            {
                <div class="nav-user">
                    <a class="unlogin" href="">
                        <i class="iconfont icon-touxiang"></i>
                    </a>
                    <span>
                        <a href="@Url.Content("/Home/Login")">登入</a>
                        <a href="@Url.Content("/Home/Register")">注册</a>
                    </span>
                    <p class="out-login">
                        <a href="@qqUrl" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                        <a href="@wbUrl" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
                    </p>
                </div>
            }
        </div>
    </div>
    <div class="main layui-clear">
        <div class="wrap">
            <div class="content">
                @RenderBody()
            </div>
        </div>
        @if (ViewBag.IsBBSMain == true)
        {
            List<UserInfo> newUserList = ViewBag.NewUserList;
            List<BBS_Forums> forList = ViewBag.ForList;
            Dictionary<int,string> forumsStatistics = ViewBag.ForumsStatistics;
            <div class="edge">
                <h3 class="page-title">版块</h3>
                <div class="user-looklog leifeng-rank ">
                    <span class="forums">
                        @if (forList != null)
                        {
                            var allPosts=0;
                            foreach (var u in forList)
                            {
                                if(forumsStatistics.ContainsKey(u.Fid)){ 
                                   u.Todayposts = forumsStatistics[u.Fid].TryToInt();
                                }
                                allPosts += u.Todayposts;
                                <a href="~/Ask/@(u.Fid)">
                                    <img src="~/_theme/img/forums/@(u.Fid).png">
                                    <i>@u.Name<label class="today">今天(<label class="today-num">@(u.Todayposts)</label>)</label> </i>
                                </a>
                            }
                            <a href="~/Ask">
                                <img src="~/_theme/img/forums/1.png">
                                <i>全部<label class="today">今天(<label class="today-num">@allPosts</label>)</label> </i>
                            </a>
                        }
                    </span>
                </div>
                <h3 class="page-title">最新会员 - TOP 8</h3>
                <div class="user-looklog leifeng-rank">
                    <span>
                        @if (newUserList != null)
                        {
                            foreach (var u in newUserList)
                            {
                                if (u.Avatar.IsNullOrEmpty())
                                {
                                    u.Avatar = Url.Content("~/_theme/default.jpg");
                                }
                        <a href="/ask">
                            <img src="@u.Avatar.Replace("/30","/100")">
                            <cite>@u.NickName</cite>
                            <i>@(u.CreateTime == null ? "" :SyntacticSugar.DateSugar.DateStringFromNow(u.CreateTime.TryToDate()))</i>
                        </a>
                            }
                        }
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="footer">
        <p>
            <a href="@Url.Content("/ask")">文档园</a>
            2016 &copy; <a href="@Url.Content("/")">CodeIsBug.com</a> <a href="https://github.com/layui/fly" target="_blank">获取Fly社区模版</a>
        </p>  <p>
            <a href="/" target="_blank">产品授权</a>
            <a href="/" target="_blank">VIP说明</a>
            <a href="/" target="_blank">商务合作</a>
            <a href="/" target="_blank" rel="nofollow">微博</a>
            <a href="/" target="_blank">微信公众号</a>
        </p>
    </div>
    <script src="~/_theme/layui-v1.0.3/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/_theme/layui-v1.0.3/layui/lay/modules/'
          , version: '1'
        });
        window.global = {
            preview: function () {
                var preview = document.getElementById('LAY_preview');
                return preview ? preview.innerHTML : '';
            }()
        };
    </script>
    @RenderSection("js", false)
</body>
</html>